<style>
</style>
<a href="/">Back</a>
<h1>Test Google Maps: Indrajit Gurung</h1>
<google-map height="600px" width="800px" [options]="options">
    <!-- @for (location of nzLocations; track location) {
    <map-advanced-marker
      #markerElem="mapAdvancedMarker"
      [position]="{ lat: location.lat, lng: location.lng }"
    />
    } @for (location of auLocations; track location) {
    <map-advanced-marker
    #markerElem="mapAdvancedMarker"
    [position]="{ lat: location.lat, lng: location.lng }"
    />
    } -->
    <!-- @for (location of nzLocations; track location) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
          [content]="location.content"
    />
    }
    @for (location of auLocations; track location) {
        <map-advanced-marker
        #markerElem="mapAdvancedMarker"
        [position]="{ lat: location.lat, lng: location.lng }"
        [content]="location.content"
    />
    } -->


    <!-- @for (location of nzLocations; track location; let index = $index) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
          [content]="location.content"
          [title]="'Location ' + (index + 1)"
        />
        } @for (location of auLocations; track location; let index = $index) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
          [content]="location.content"
          [title]="'Location ' + (index + 1)"
        />
        } -->


        @for (location of nzLocations; track location; let index = $index) {
            <map-advanced-marker
              #markerElem="mapAdvancedMarker"
              [position]="{ lat: location.lat, lng: location.lng }"
              [content]="location.content"
              [title]="'Location ' + (index + 1)"
              (mapClick)="onMarkerClick(markerElem)"
            />
          } @for (location of auLocations; track location; let index = $index) {
          <map-advanced-marker
            #markerElem="mapAdvancedMarker"
            [position]="{ lat: location.lat, lng: location.lng }"
            [content]="location.content"
            [title]="'Location ' + (index + 1)"
            (mapClick)="onMarkerClick(markerElem)"
          />
          }
          <map-info-window #infoWindow></map-info-window>
  </google-map>
